* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html,body {
    height: 100%;
  }
  body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  canvas {
    position:fixed;
    background-color: rgb(46, 46, 46);
  }